.lead {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 984px;
  color: white;
  align-items: center;
  padding-top: 56px;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 100%;
    padding: 48px 0 0;
  }
}
