.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content minmax(min-content, 460px);
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 92px;
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 32px;
    padding-bottom: 50px;
  }

  .place:last-of-type {
    padding-bottom: 0;
  }
}
